trunk/sony/WebContent/WEB-INF/wsdl/sonyQuote.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sonyQuote" targetNamespace="http://www.sony.com/sonyQuote/" xmlns:client="http://xmlns.oracle.com/SonyQuoteService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.sony.com/sonyQuote/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/SonyQuoteService" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.oracle.com/SonyQuoteService">
			<complexType name="Item">
				<sequence>
					<element name="itemId" nillable="true" type="string"/>
					<element name="quantity" type="long"/>
				</sequence>
			</complexType>
			<complexType name="Quote">
				<sequence>
					<element name="supplierPrice" nillable="true" type="string"/>
				</sequence>
			</complexType>
			<element name="SonyQuoteServiceProcessRequest">
				<complexType>
					<sequence>
						<element name="orderId" nillable="true" type="string"/>
						<element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:Item"/>
					</sequence>
				</complexType>
			</element>
			<element name="SonyQuoteServiceProcessResponse">
				<complexType>
					<sequence>
						<element name="result" nillable="true" type="tns:Quote"/>
					</sequence>
				</complexType>
			</element>
		</schema>
  </wsdl:types>
  <wsdl:message name="SonyQuoteServiceRequestMessage">
    <wsdl:part name="payload" element="client:SonyQuoteServiceProcessRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SonyQuoteServiceResponseMessage">
    <wsdl:part name="payload" element="client:SonyQuoteServiceProcessResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SonyQuoteService">
    <wsdl:operation name="initiate">
      <wsdl:input message="tns:SonyQuoteServiceRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:SonyQuoteServiceResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SonyQuoteService" type="tns:SonyQuoteService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="initiate">
      <soap:operation soapAction="http://www.sony.com/sonyQuote/SonyQuoteService"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sonyQuote">
    <wsdl:port name="sonyQuoteSOAP2" binding="tns:SonyQuoteService">
      <soap:address location="http://localhost:8081/sony/services/sonyQuoteSOAP2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
